body {
  display: flex;
  justify-content: space-between;
  /*align-items: center;-->*/
  /*height: 35vh;*/
  margin: 5%;
}
p {
  font-size: 16px;
  line-height: 1;
}
.custom-size {
  font-size: 36px;
}
.custom-size-l2 {
  font-size: 20px;
}
#text-container {
  flex: 1;
  padding: 20px;
}

#image-container {
  flex: 1;
  text-align: center;
}

#image-container img {
  max-width: 40%;
  height: auto;
}
#table1 {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#table1 th, #table1 td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#table1 th {
  background-color: #f2f2f2;
}

#table1 tr:hover {
  background-color: #f5f5f5;
}
.hyphen-list {
  list-style-type: none; /* Remove default bullet points */
}

.hyphen-list li::before {
  content: "-"; /* Set hyphen as a content before each list item */
  margin-right: 0.5em; /* Add spacing between hyphen and text */
}